 p {
    font-size: 20px;/*absolute size*/
 }

 h1 {
    border: 2px dashed red;
    width: 50%;/*the size will change depend on the parent components*/
    font-size: 3rem;
    padding: .5em;/*that look to the size of the font, not to the root wicht that it's the parent componet*/
 }

 #first{
    font-size: 1.5rem;/*The size of the component will change depending on the root component, by default the size of the root is set by the browse*/
    width: 40ch;/*define the number of characters in the line
 }
 #second {
    font-size: 1.5em;/*The size of the component will change depending on the size of the parent component*/
 }