* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container {
    border: 2px dashed red;
    font-size: 1.5rem;
    margin: 1em;/*is taking the size of the font*/
    padding: 1em;°?/
}