* {
    background-color: #555;
    color: #cecece;
    
    font-size: 1.08em;
}

input {
    border: 2px solid #888;
    border-radius: .25em;
    cursor: pointer;
    width: 250px;
}

.label-container {
    margin:10px auto;
}